@media print {
@page  
{ 
    margin: 0cm .7cm 0cm .7cm;
    
    
    
}
         .page-break{
             page-break-after: always;
         }

}
@font-face {
    font-family: calibri;
    src: url("../fonts/Calibri.ttf");
}


